<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/main.css">

        <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Water Boiling Test Buddy</a>
        </div>
      </div>
    </div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Tinker better</h1>
        <p>The Water Boiling Test provides a simple metric to help you compare the performance of stoves.</p>
        <p>The calculations on this page are a "finger in the wind" to guide testing, a first glimpse into the depth of engineering that goes into improved cook stove design.</p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-6">
          <div class="model-inputs" id="js-model-inputs">
            <h2>Input</h2>
            
            <form class="form-horizontal" role="form">  
              <div class="form-group" id="js-fuel-type"></div>
              <div class="form-group" id="js-fuel-use"></div>
              <div class="form-group" id="js-amount-water"></div>
            </form>
            
          </div>
          
          <div class="model-calculation">
            <h2>Output</h2>
            <h3>Assumptions</h3>
            <table>
              <tr>
                <th>Boiling Point</th>
                <td>100.0</td>
                <td>&deg;C</td>
              </tr>
              <tr>
                <th>Starting Water Temperature</th>
                <td>23.0</td>
                <td>&deg;C</td>
              </tr>
              <tr>
                <th>Fuel Moisture Content</th>
                <td>15</td>
                <td>%</td>
              </tr>
            </table>
            <h3>Calculations</h3>
            <p>Energy in <em>Wood</em> (HV): 31,000 kJ/kg</p>
            <p>Effective calorific value (EHV) is calculated by subtracting the amount of energy required to vaporize the 15% moisture content.</p>
            <p>EHV = LHV * (1-MC)-(MC*((HHV-T)*4.2+2260))</p>
            <p>where</p>
            <table>
              <tr>
                <th>EHV</th>
                <td>Effective Heating Value</td>
                <td>kJ/kg</td>
              </tr>
              <tr>
                <th>LHV</th>
                <td>Lower Heating Value</td>
                <td>kJ/kg</td>
              </tr>
              <tr>
                <th>MC</th>
                <td>Fuel Moisture Content</td>
                <td>%</td>
              </tr>
              <tr>
                <th>T</th>
                <td>Air Temperature</td>
                <td>C</td>
              </tr>
              <tr>
                <th>4.2</th>
                <td>Heat Vaporization of Water</td>
                <td>C</td>
              </tr>
              <tr>
                <th>2260</th>
                <td>Enthalpy Water</td>
                <td>kcal/kg-C</td>
              </tr>
            </table>
            
            <p>The energy content of our fuel (EHV) can be used to calculate the amount of energy available to heat the pot by this test run.</p>
            
            <p>E_available = ...</p>
            <p>where</p>
            
            <p>We then calculate the amount of energy it requires to boil this amount of water. We assume that a lid was used, and no water escaped during the test.</p>
            
            <p>....</p>
            
            <p>The Global Alliance of Clean Cookstoves defines the ratio of energy released to energy absorbed as the "Overall Thermal Efficiency" (OTE).</p>
            
          </div>
          
        </div>
        <div class="col-lg-6">
          <h2>Comparison</h2>
       </div>
      </div>

      <hr>

      <footer>
        <p>small red tile 2013</p>
      </footer>
    </div> <!-- /container -->
      
    <script type="text/template" id="pill-choice-template">
      <label for="<%= idInput %>" class="col-sm-3 control-label"><%= label %></label>
      <div class="col-sm-6">
        <ul class="nav nav-pills">
        <% _.each(choices, function(choice){ %>
          <li data-symbol="<%= choice.symbol %>" class="fuel-type-choice">
            <a data-toggle="pill" href="">
              <%= choice.label %>
            </a>
          </li>
          <% }); %>
        </ul>
      </div>
      
    </script>
    
      <script type="text/template" id="dimensions-template">
        <label for="<%= idInput %>" class="col-sm-3 control-label"><%= label %></label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="<%= idInput %>" placeholder="<%= placeholder %>">
        </div>
        <label for="<%= idInput %>" class="col-sm-3 control-label  control-label-left">
        
        <% _.each(dimensions, function(dimension){ %>
          <a data-dimension="<%= dimension.symbol %>" class="unit"><%= dimension.label%></a> 
        <% }); %>
        
        </label>
      </script>
            
        <script src="js/jquery.js"></script>
        <script src="js/underscore.js"></script>
        <script src="js/backbone.js"></script>
        <script src="js/models/WBT.js"></script>
        <script src="js/models/PillChoice.js"></script>
        <script src="js/models/DimensionedQuantity.js"></script>
        <script src="js/views/PillChoice.js"></script>
        <script src="js/views/DimensionedQuantity.js"></script>
        <script src="js/views/Input.js"></script>
        <script src="js/views/Output.js"></script>
        <script src="js/app.js"></script>
        <script src="js/vendor/bootstrap.min.js"></script>
    </body>
</html>
